html, body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 15px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/* application */
.application {
    display: table;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    height: 100%;
    width: 100%;
}
/* application__navigation */
.application .application__navigation {
    background-color: #000;
    border-right: 4px solid #0fa1e0;
    display: table-cell;
    height: 100%;
    width: 200px;
}

/* application__content */
.application .application__content {
    display: table-cell;
    padding: 20px;
    vertical-align: top;
}


.application .application__content .entity .entity__title h1,
.application .application__content .entity .entity__title h4 {
    border-radius: 10px;
}

.application .application__content .entity .entity__title h1 {
    color: #0fa1e0;
    font-size: 18pt;
    margin: 0 0 25px 0;
}

.application .application__content .entity .entity__title h4 {
    background-color: #f0f0f0;
    font-size: 11pt;
    margin: 5px 0 15px 0;
    padding: 20px 10px 20px 10px;
}


.application .application__content .entity .entity_actions {
    margin: 0 0 15px 0;
}

.application .application__content .entity .entity_search {
    float: right;
}

.application .application__content .entity .entity_search input[type="text"] {
    font-size: 12pt;
    height: 28px;
    width: 400px;
}

.application .application__content .entity .entity__list .entity__list--scrollable {
    height: 655px;
    overflow: scroll;
}

.application .application__content .entity .entity__form {
    background: #f0f0f0;
    display: inline-block;
    width: 100%;
}

.application .application__content .entity .entity__form .lbl {
    vertical-align: top;
    width: 30%;
}

.application .application__content .entity .entity__form .val input[type="text"] {
    float: left;
    width: 400px;
}

.application .application__content .entity .entity__form .val .currentAge {
    border-radius: 25px;
    background: #0fa1e0;
    color: #fff;
    float: left;
    margin: 0 0 0 15px;
    padding: 2px 12px 4px 12px;
    text-align: center;
    width: 42px;
}

.application .application__content .entity .entity__form.pic {
    background: #fff;
    display: inline-block;
    width: 100%;
}

.application .application__content .entity .entity__form .entity__form--left,
.application .application__content .entity .entity__form .entity__form--right {
    float: left;
    width: 50%;
}

.application .application__content .entity .entity__form .entity__form--1col {
    float: left;
    width: 100%;
}

input[type="button"] {
    color: #ffffff;
    font-size: 14px;
    background: #0fa1e0;
    padding: 8px 18px 7px 18px;
    text-decoration: none;
}

input[type="button"]:hover {
    background: #3cb0fd;
    text-decoration: none;
}

table {
    border: 0px;
    width: 100%;
}

table input[type="checkbox"] {
    width: 22px;
    height: 22px;
}

table input[type="radio"] {
    width: 22px;
    height: 22px;
}

table tr {
    background: #f0f0f0;
    height: 25px;
}

table th {
    background: #0fa1e0;
    color: #fff;
    height: 40px;
    padding: 0 0 0 10px;
    text-align: left;
}

table td {
    padding: 10px 0 10px 10px;
    line-height: 14pt;
}

table td .open,
table td .close {
    background: #0fa1e0;
    color: #fff;
    float: left;
    height: 20px;
    text-align: center;
    width: 22px;
    padding-top: 3px;
}

table td .contactCard {
    float: left;
    line-height: 22px;
    margin: 0 0 0 20px;
}

table td.id,
table th.id {
    padding: 0;
    text-align: center;
    width: 30px;
}

table td.w10pct,
table th.w10pct {
    width: 10%;
}

table td.w15pct,
table th.w15pct {
    width: 15%;
}

table td.w20pct,
table th.w20pct {
    width: 20%;
}

table td.w25pct,
table th.w25pct {
    width: 25%;
}

table td.w30pct,
table th.w30pct {
    width: 30%;
}

table td.w35pct,
table th.w35pct {
    width: 35%;
}

table td.w40pct,
table th.w40pct {
    width: 40%;
}

table td.w50pct,
table th.w50pct {
    width: 50%;
}

/* tab styling by http://keith-wood.name/uitabs.html */
#tabs {
    background: transparent;
    border: none;
}

#tabs .ui-widget-header {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

#tabs .ui-tabs-nav .ui-state-default {
    background: transparent;
    border: none;
}

#tabs .ui-tabs-nav .ui-state-active {
    background: transparent url(../images/uiTabsArrow.png) no-repeat bottom center;
    border: none;
}

#tabs .ui-tabs-nav .ui-state-default a {
    color: #c0c0c0;
}

#tabs .ui-tabs-nav .ui-state-active a {
    color: #3cb0fd;
}

/* custom tab styling */
.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 25px 0 0 0;
    background: none;
}